<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Random word (attempt #{{ request.session.counter }})</h1>
    <form action="/" method="post">
        {% csrf_token %}
        <input type="text" name="word" value="{{ request.session.unique_id }}">
        <input type="submit" value="Generate">
    </form>
    <form action="/random_word/reset" method="post">
        {% csrf_token %}
        <input type="submit" value="Reset">
    </form>
</body>
</html>